* {
    color: black;
}

img {
    width: 100%;
    display: block;
}

h1 {
    color:black;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    text-align: center;
    margin: 20px;
    padding: 5px;
}

p {
    color: grey
}

section { 
    border: 1px solid grey;
    margin: 30px 250px;
    padding: 50px;
}